<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
    <div th:text="${fromUser}" id="fromUser" style="display: none"></div>
    <div th:text="${toUser}" id="toUser" style="display: none"></div>
    <a href="/home">我的主页</a><br>
    <a href="/chat/chatList">我的聊天</a><br>
    <a href="/index">商品列表</a><br>
    <h1>和<span th:text="${toUser}"></span>的聊天</h1>
    <div id="chatBox">
        <div id="msg"></div>
        <div id="input">
            <input type="text" id="msgContent" placeholder="请输入消息内容">
            <button id="send">发送</button>
            <input type="file" id="img">
        </div>
    </div>
</body>
<script src="https://cdn.bootcdn.net/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script src="/js/chat.js" type="text/javascript"></script>
</html>