<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/editproduct" method="post" enctype="multipart/form-data">
        <input type="hidden" name="pid" th:value="${product.pid}">
        <label for="pname">商品名称：</label>
        <input type="text" name="pname" id="pname" th:value="${product.pname}"><br>
        <label for="depict">商品描述：</label>
        <input type="text" name="depict" id="depict" th:value="${product.depict}"><br>
        <label for="file">商品图片：</label>
        <input type="file" name="file" id="file"><br>
        <label for="price">商品价格：</label>
        <input type="text" name="price" id="price" th:value="${product.price}"><br>
        <input type="submit" value="保存">
    </form>
</body>
</html>